<section class="hero-section animate-fade-in">

    <div class="hero-content">

        <span class="badge">

            ⚡ Realtime Hiring Platform

        </span>

        <h1>

            Modern Hiring
            <span>
                Simplified
            </span>

        </h1>

        <p>

            HireConnect helps recruiters
            and candidates manage the
            complete hiring workflow with
            realtime notifications,
            interview scheduling,
            analytics and smart job
            management.

        </p>

        <div class="hero-actions">

            <a routerLink="/candidate/jobs" class="primary-btn">
                Find Jobs
            </a>

            <a routerLink="/auth/register" class="secondary-btn">
                Start Hiring
            </a>

        </div>

    </div>

</section>